<!DOCTYPE>
<html ng-app="AppModule">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<body ng-controller="SnapCont">

    <div class="row vertical-center-row">
        <form class="col-md-4 col-md-offset-4" ng-submit="submit()">
            <input type="number" placeholder="Высота" ng-model="formData.height">
            <input type="number" placeholder="Ширина" ng-model="formData.width">
            <input type="submit" value="Start_Game">
        </form>
        <div class="text-center col-md-4 col-md-offset-4">
            <div class="header">title


            </div>
            <div class="board" ng-style="{height: fieldSize.height*25+ 'px', width: fieldSize.width*25+ 'px'}">game

                <table ng-model="cell" ng-if="game_start">
                    <tbody>

                        <tr ng-repeat="Cell_W in $scope.Field">

                            <td ng-repeat="Cell_H in Cell_W track by $index">{{$index}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>

</html>