.header {
    height: 50px;
    width: 400px;
    border: 1px solid #222;
    background-color: #F5FFFF
}

.board {
    height: 200px;
    width: 400px;
    border: 1px solid #222;
    background-color: #b2b2b2;
}

.cell {
    height: 25px;
    width: 25px;
    background-color:#F0FFFF;
    border-color:#DCDCDC;
    border-style: ridge;
    border-width: 2px;
    
}